/* 768px */
body{
    background-color: rgb(255, 255, 255);

}
.card { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.overplay{
    width: 48px;
}
.image-wrap{
    height: 209px;
    object-fit: cover;
}
.newsletter{
    max-width: 728px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact,.opinions-container{
  padding: 40px 20px;
  text-align:center;
  flex-direction:row;
  width: 100%;
  max-width: 729px;
}
.contact h3 {
  margin-bottom: 20px;
}
.contact .grid,.opinions-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-direction:row;
}
.map{
  width: 100%;
  max-width: 720px;

}

